h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #b3b3b3; }

p, li {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem; }

body {
  font-size: 60px;
  background-image: url("../images/background.jpg");
  height: 100%; }

a {
  text-decoration: none; }

.blue {
  padding-bottom: 20px;
  margin-left: 30px; }

#l {
  font-family: 'Pacifico', cursive;
  color: #FFF;
  font-size: 4rem;
  padding-top: 50px; }

.hide a {
  color: #b3b3b3; }

.grey {
  padding: 40px;
  box-sizing: border-box;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.205); }

.hide {
  margin-top: 40px; }

.hide li {
  display: inline-block;
  margin-right: 20px; }

.hide a:hover {
  color: white;
  transition: color 0.3s ease-in-out; }

.box {
  background-color: rgba(0, 0, 0, 0.205);
  max-height: 400px;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden; }
  .box p {
    color: #b3b3b3;
    font-size: 0.9rem; }

.dark-box, .dark {
  margin-top: 40px;
  height: 300px;
  background-color: #1a1a1a;
  text-align: center;
  color: #4d4d4d;
  line-height: 270px; }

.tinybox {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 2px solid #b3b3b3;
  border-radius: 100px;
  text-align: center;
  line-height: 100px; }

.border-top, #circle1, #circle2, #circle3 {
  border-top: 8px solid #2a6a7e; }

#circle2 {
  border-right: 8px solid #2a6a7e; }

#circle3 {
  border-right: 8px solid #2a6a7e;
  border-bottom: 8px solid #2a6a7e; }

#hr1 {
  margin-top: 60px;
  width: 25%;
  border: 2px solid #b3b3b3; }

#hr2 {
  margin-top: 10px;
  width: 50%;
  border: 2px solid #b3b3b3; }

#hr3 {
  margin-top: 10px;
  width: 90%;
  border: 2px solid #b3b3b3; }

.box img {
  width: 100%;
  height: 100%; }

.box1 {
  padding: 0px; }

.menu {
  visibility: hidden; }

@media only screen and (max-width: 892px) {
  .col-1 {
    width: 8.33%; }
  .col-2 {
    width: 16.66%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 100%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 100%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; }
  .blue {
    padding-bottom: 0px;
    margin-left: 20px; }
  #l {
    font-size: 2rem; }
  .tinybox {
    height: 50px;
    width: 50px; }
    .tinybox p {
      visibility: hidden; }
  .hide {
    margin-top: 5px;
    visibility: hidden; }
  .dark {
    height: 250px;
    padding-top: 50px;
    line-height: 20px; }
  .box {
    line-height: 24px; }
  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #b3b3b3; }
    .menu-btn.close {
      transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      /* IE 9 */
      -webkit-transform: rotate(180deg);
      /* Safari 3-8 */
      transition: all 0.4s ease-out; }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9; }
    .menu.show {
      visibility: visible; }
    .menu .menu-nav {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: right;
      width: 80%;
      height: 100vh;
      overflow: hidden;
      margin: 0;
      padding: 0;
      background: rgba(0, 0, 0, 0.52);
      opacity: 0.9;
      transform: translate3d(0, -100%, 0);
      transition: all 0.4s ease-out; }
      .menu .menu-nav.show {
        transform: translate3d(0, 0, 0); }
      .menu .menu-nav .nav-item a {
        color: white;
        font-size: 1.5rem;
        line-height: 50px; }
      .menu .menu-nav .nav-item a:hover {
        color: #b3b3b3;
        transition: all 0.4s ease-out; } }
